.img-wrapper-scroll span{
    color: white;
    background: rgb(0 0 0 / 60%);
    display: inline;
    padding: 0.1rem 0.3rem;
    border-radius: 2rem;
    border: 1px solid white;
    font-weight: 600;
    font-size: .8rem;
    position: absolute;  
}
.img-wrapper-scroll span::before {
    content: ' ';
    width: .5rem;
    height: .5rem;
    display: inline-block;
    border-radius: 50%;
    background: rgb(0 0 0 / 60%);
    position: absolute;
    top: 35%;
    left: -12px;
    border: 1px solid white;
    animation: scrolltagdot 1s linear 2s infinite;
    transform: scale(1)
}

/*
#jwhome-entry{
    top: 55%;
    left: 80%;
}
#jwhome-baike{
    top: 85%;
    left: 68%;
}
#jwhome-listing{
    top: 110%;
    left: 80%;
}
#jwhome-jwtalk{
    top: 130%;
    left: 17%;
}
#jwhome-news{
    top: 100%;
    left: 30%;
}
#jwhome-columist{
    top: 100%;
    left: 60%;
}
#jwhome-event{
    top: 100%;
    left: 90%;
}
#jwhome-rank{
    top: 150%;
    left: 10%;
}
#jwhome-price{
    top: 150%;
    left: 50%;
}
#jwhome-report{
    top: 150%;
    left: 90%;
}*/

@keyframes scrolltagdot{
 0% {background: rgb(0 0 0 / 60%);}
  50% {background: white;} 
     100% {background: rgb(0 0 0 / 60%);}
}