  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,300;12..96,600&family=Italiana&display=swap');


:root {
    --black-100: #111;
    --black-60: #767676;
    --white: #ffffff;
    --theme-color: #F7F2EB;
    --theme-color-2: #E5DBD0;
    --font: 'Bricolage Grotesque', sans-serif;
    --font-title: 'Italiana', sans-serif;
    --max-width: 1200px;
}


/* Use the variables */
body {
    font-family: 'Bricolage Grotesque', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    color: var(--black-60);
} 
body::after{
    content: '© Copyright 2023 Mani Cheng - All Rights Reserved';
    text-align: center;
    font-size: .8rem;
    color: var(--black-60);
    margin: 5rem 0;
    display: block;
}
img, div, a{
    transition: all .5s ease;
}
h1{
    font-family:  'Italiana', sans-serif;
}
h1,h2,h3,h4,h5{
    color: var(--black-100);
}
h2,h3,h4,h5,h6{
    font-family: 'Bricolage Grotesque', sans-serif;
}
.display-1,.display-2,.display-3,.display-4,.display-5,.display-6{

    white-space: nowrap;
}
span, p, h6, li{
    font-family: 'Bricolage Grotesque', sans-serif;
    line-height: 1.7;
    color: var(--black-60);
}
a{
    color: var(--black-100);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
li{
    padding-bottom: 1rem;
}
blockquote{
    color: rgba(0,0,0,0.40);
}
blockquote::after{
    content: ' ——';
    letter-spacing: -1px;
}
.mb-10{
    margin-bottom: 10rem;
    @media (max-width: 768px){
    margin-bottom: 5rem;      
    }
}
.wrapper{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.relative{
    position: relative;
}
.subtitle{
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    vertical-align: baseline;
    justify-content: flex-end;
    @media (max-width: 992px){
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1rem;
    }
}
.subtitle p{
    margin-bottom: 0;
}
.intro{
    color: var(--black-100);
}
.top-bar{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
.top-bar h2{
    text-decoration: none;
    color: var(--black-100);
    margin-bottom: 0;
}
.top-bar .icon{
    width: 30px;
    margin-right: 1rem;
}
.m-btn{
    background-color: var(--black-100);
    padding: 0.5rem 1.25rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.m-btn:hover{
    transform: scale(1.05);
    text-decoration: none;
}
.hello{
    max-width: 800px;
    margin: auto;
    margin-bottom: 10rem;
    margin-top: 5rem;
    text-align: center;
}
.cover{
    background: var(--theme-color);
    border-radius: .5rem;
    padding: 3rem 0 0 0 !Important;
    text-decoration: none;
    color: var(--black-100);
    transition: all .5s ease;
    overflow: hidden;
    @media (min-width: 768px){
    width: calc(50% - .5rem) !important;
    justify-content: space-between;
    }
}
.cover:hover{
    transform: scale(1.05);
    background: var(--theme-color-2);
    text-decoration: none;
}
.intro{
    max-width: 800px;
    text-align: center;
}
.intro-info p{
    text-align: center;
    margin-bottom: 0;
}
.intro-info>*{
    @media (max-width: 576px){
    margin-bottom: 1rem;
    }
}
.theme-bg{
    background-color: var(--theme-color);
    width: 100%;
}
.number {
    border-radius: 50px;
    background:  var(--theme-color);
    display: inline-block;
    width: 40px;
    height: 40px;
}
.line{
    border-bottom: 1px dotted var(--theme-color-2);
}
.img-wrapper{
    border-radius: .5rem;
    background-color: var(--theme-color);
    overflow: hidden;
}
.img-wrapper-scroll{
    border-radius: .5rem;
    background-color: var(--theme-color);
    overflow: scroll;
    height: 60vh;
    padding: 3rem 3rem 0 3rem !important;
    position: relative;
}
.img-wrapper-scroll-btn{
    display: flex;
    position: absolute;
    bottom: 0;   
    width: 100%;
    z-index: 2;
}
.img-wrapper-scroll-btn div{
    background: rgb(0 0 0 / 70%);
    color: white;
    margin: auto;
    border-radius: 2rem;
    padding: 0.7rem 0.3rem;
    overflow: hidden;
    display: block;
    animation: scrolldown 1s linear 2s infinite alternate;
    text-align: center;
    border: 1px solid white;
    font-size: .8rem;
    margin-bottom: 20px;
    font-weight: 600;
}
@keyframes scrolldown{
 from {    margin-bottom: 20px;}
  to {    margin-bottom: 10px;} 
}
#baike-lp{
    background-size: cover;
  background-image: url('../images/jwcom-baike-lp-edu.webp');
  animation: baike-lp 10s linear 1s infinite;
}
@keyframes baike-lp {
  0% {background-image: url('../images/jwcom-baike-lp-edu.webp');}
  25%{background-image: url('../images/jwcom-baike-lp-immigration.webp');}
  50%{background-image: url('../images/jwcom-baike-lp-investment.webp');}
  75%{background-image: url('../images/jwcom-baike-lp-lifestyle.webp');}
}
.img-sm{
    @media (max-width: 768px){
    width: 60%;
    display: flex;
    margin: auto;
    padding: 1rem 0;
    }
}
.img-2-in-row{
    max-width: 40%;
    height: auto;
    @media (max-width: 768px){
    max-width: calc(50% - 1rem);
    }
}
.timeline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-color);
    border-radius: .5rem;
    padding: 2rem 0;
}
.timeline ul{
    border-left: 2px solid var(--black-60);
    margin-left: 0px;
}
.timeline li{
    margin-left: -39px;
    display: block;
}
.timeline li::before {
content: ' ';
    background-color: var(--theme-color);
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid var(--black-60);
}
.timeline li:last-child{
    padding-bottom: 0;
}
.number-list li{
    padding-bottom: 0px;
}
#totop{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.15);
    z-index: 10;
    text-decoration: none;
}
#totop:hover{
   background-color: var(--black-60);
    color: white;
}
