@font-face {
   font-family: 'Barlow-SemiBold';
   font-display: swap;
   src: url('Barlow-SemiBold/font.ttf');
}
/*Mani CSS*/
/*hover image effect of homepage, juwai app,*/
#gallery3-9n .item-img {
    overflow: hidden;
    border-radius: 10px;
}

#gallery3-9n .item-img img,
#content3-cq .item-img img{
    transition: linear .2s all;
}
#gallery3-9n .item-img img:hover,
#content3-cq .item-img img:hover{
    transform: scale(1.05);   
}

.gallery1 .item{
    cursor: auto !important;
}