@font-face {
   font-family: 'Barlow-SemiBold';
   font-display: swap;
   src: url('file:///Users/mani/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-05-31_143031/fonts/Barlow-SemiBold/font.ttf');
}
