:root {
  --padding: 3vw;
  --coverSpace: 25px;
}

html {
  font-size: 18px;
}

body {
  color: var(--bs-body-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 720px) {
  html {
    font-size: 16px;
  }
}

p, ol, li {
  font-size: 1rem;
}

ol {
  padding-left: 1.125rem;
}

div, img, a, object, .btn {
  transition: all .5s cubic-bezier(0.72, 0.02, 0.35, 1);
}

img {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.nav-item {
  font-size: .9rem;
  line-height: 1;
}

.nav-link {
  color: var(--bs-body-color);
  height: 100%;
  align-content: center;
  margin-top: 3px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  font-weight: 800;
  color: var(--bs-body-color);
}

.homeHeroLine {
  display: flex;
  overflow: hidden;
  position: relative;
  height: 1.2em;
}

.carousel {
  white-space: nowrap;
  width: 200%;
  display: flex;
  align-items: self-start;
  animation: bannermove 80s linear infinite;
  position: relative;
  margin-top: 50px;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translate(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.carousel:hover {
  animation-play-state: paused;
}

.carousel a {
  width: calc(100vw / 3);
  height: calc(200% / 10);
  max-width: 400px;
  max-height: 400px;
  min-width: 320px;
  min-height: 320px;
  margin-right: 3em;
  cursor: pointer;
  background: var(--bs-secondary);
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  transition: all .2s cubic-bezier(0.72, 0.02, 0.35, 1);
  object-fit: contain;
}

.blink {
  animation: blink 2s ease infinite;
  animation-delay: 1s;
}

@keyframes blink {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(.6);
  }
  100% {
    transform: scale(.8);
  }
}

.carousel a::before {
  content: attr(alt);
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  color: white;
  background: rgba(66,71,82,0.9);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .5s ease-out;
  font-family: 'The Bold Font';
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .03em;
  bottom: 100%;
  white-space: pre-line;
}

.carousel a:hover::before {
  transition: all .5s ease-in;
  opacity: 1;
  bottom: 0%;
}

.carousel a:nth-child(even) {
  margin-top: 40px;
}

.homeHeroimg {
  height: 50px;
}

.heroImg {
  margin-top: 0px !important;
}

.heroImg img {
  position: relative;
  object-fit: contain;
  height: 1em;
}

#heroConcept {
  font-family: 'Jocky Starline', cursive;
  line-height: 1;
  font-size: 1.1em;
  height: 1em;
  align-self: stretch;
}

.grid {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2em;
}

@media (min-width: 1400px) {
  .grid {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .grid {
    font-size: 16px;
  }
}

@media (max-width:992px) {
  .grid {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .grid {
    font-size: 12px;
  }
}

.grid-item {
  border-radius: 30px;
  display: flex;
  position: relative;
  font-family: 'The Bold Font';
  text-decoration: none;
  line-height: 1.1;
  letter-spacing: .01em;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .grid-item {
    font-size: 6.5vw !important;
    justify-content: flex-start;
    overflow: hidden;
    width: 70vw;
    height: 70vw;
    min-width: 300px;
    min-height: 300px;
    max-width: 460px;
    max-height: 460px;
    margin: auto;
  }
}

.grid-item:not(.grid-order-2) {
  overflow: hidden;
}

.grid-item:hover img:not(#eventCoverBg) {
  transform: scale(1.05);
}

.grid-order-1 {
  grid-column: span 4;
  grid-row: span 2;
}

.grid-order-2 {
  grid-column: span 6;
  grid-row: span 1;
}

@media (max-width: 576px) {
  .grid-order-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.grid-order-2 img {
  margin-top: -30px;
  padding-right: var(--coverSpace);
}

@media (max-width: 991px) {
  .grid-order-2 img {
    margin-top: var(--coverSpace);
    padding-left: var(--coverSpace);
  }
}

.grid-order-3 {
  grid-column: span 3;
  grid-row: span 1;
}

.grid-order-3 #eventCoverImg {
  width: 85%;
  transform: rotate(-9deg);
  position: absolute;
  bottom: -15%;
  right: 0%;
  z-index: 2;
}

.grid-order-3 span {
  position: relative;
}

.grid-order-4 {
  grid-column: span 3;
  grid-row: span 1;
  font-size: 1.75em;
}

.grid-order-4 .textWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid-order-5 {
  grid-column: span 7;
  grid-row: span 1;
}

.grid-order-6 {
  grid-column: span 3;
  grid-row: span 1;
}

.verticalCard {
  display: flex;
  flex-direction: column;
}

.deco {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .02em;
}

@media (max-width: 576px) {
  #eventCoverBg {
    margin-top: -7vw;
  }
}

h1 {
  font-family: 'The Bold Font', sans-serif;
  font-size: 4em;
  line-height: 1;
  margin-bottom: .5em;
  letter-spacing: .03em;
  hyphens: auto;
}

@media (max-width: 576px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-size: 2.5em;
  font-family: 'The Bold Font', sans-serif;
  transition: border 1s ease;
}

h3 {
  font-family: 'The Bold Font', sans-serif;
  font-size: 2.5em;
  letter-spacing: .01em;
}

h6 {
  font-weight: 900;
}

.imgWrapper {
  background: var(--bs-secondary);
  border-radius: 20px;
  position: relative;
  display: flex;
  height: 100%;
}

.imgWrapper img {
  object-fit: contain;
}

@media (min-width: 992px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 992px) {
  .projectContainer {
    max-width: 920px;
  }
}

.projectContainer .imgWrapper {
  margin-bottom: 2em;
}

.imgAlign-center-bottom {
  padding-top: var(--padding);
  padding-right: var(--padding);
  padding-left: var(--padding);
}

.imgAlign-center {
  padding: var(--padding);
}

.imgAlign-middle {
  padding-right: var(--padding);
  padding-left: var(--padding);
}

.imgAlign-top-right {
  padding-left: var(--padding);
  padding-bottom: var(--padding);
}

.pTop {
  padding-top: var(--padding);
}

.pBottom {
  padding-bottom: var(--padding);
}

.pLeft {
  padding-left: var(--padding);
}

.pRight {
  padding-right: var(--padding);
}

.projectSummary {
  position: sticky;
  align-items: start;
  top: 10%;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .projectSummary {
    position: relative;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: .5em;
    margin-bottom: 4em;
    text-align: center;
  }
}

#gzh .imgWrapper {
  background: #83352F;
}

.adDisplay, .pptDisplay, .mgzDisplay {
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.adDisplay > * {
  width: 30%;
  height: auto;
  min-width: 200px;
  border-radius: 4px;
  margin: 0;
}

.pptDisplay > * {
  width: calc(50% - 20px);
  min-width: 330px;
  border-radius: 4px;
}

.mgzDisplay > * {
  margin-left: 20px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link {
  padding: 0;
  line-height: 40px;
}

@media (min-width: 576px) {
  .nav-link::after, .nav-link.active::after {
    content: ' ';
    display: block;
    height: 2px;
    width: 0;
    transition: width .5s cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--bs-body-color);
  }
}

@media (min-width: 576px) {
  .nav-link:hover::after, .nav-link.active::after {
    width: 100%;
    transition: width.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (min-width: 576px) {
  .nav-link.active {
    cursor: default;
  }
}

.form-control, .form-control:focus, .form-control:active {
  border-radius: 20px;
  padding: .5em 1em;
  background: var(--bs-secondary);
  color: var(--bs-body-color);
  border: 0;
}

.form-control:focus {
  box-shadow: 0 0 0 2px white;
}

.form-control::placeholder {
  color: rgba(255,255,255,0.4);
}

#contact .btn, .form-control, .form-control:focus, .form-control:active {
  font-size: 1rem;
}

.btn, .btn:hover {
  /*color: var(--bs-primary);*/
  background: transparent;
  border: 1px solid var(--bs-body-color);
  padding: .5em 1em;
  font-weight: 600;
  border-radius: 20px;
}

.btn:hover, .navbar-brand:hover {
  transform: scale(1.05);
}

#contact a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid transparent;
  padding-bottom: .1em;
}

#contact a:hover {
  border-bottom: 1px solid white;
}

@media (max-width: 1200px) {
  .container {
    /*padding-left: 5vw;*/
    /*padding-right: 5vw;*/
  }
}

@media (max-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
}

@media (min-width: 300px) {
  .homeHero {
    font-size: 27px;
  }
}

@media (min-width: 576px) {
  .homeHero {
    font-size: 36px;
  }
}

@media (min-width: 768px) {
  .homeHero {
    font-size: 46px;
  }
}

@media (min-width: 1200px) {
  .homeHero {
    font-size: 60px;
    letter-spacing: .02em;
  }
}

